<div class="mainFilterText flexRow-spaceBet">
  <input type="text" placeholder="Rechercher" (keyup.enter)="filter()" [(ngModel)]="currentFilter.textInput"/>
  <img src="https://image.flaticon.com/icons/svg/149/149309.svg"/>
</div>

<div class="boxMandatory">
  <h1 class="color-blue-medium noSpace">Critères obligatoires</h1>
  <div class="flexRow-spaceBet listSelect">
    <div>
      <p>Type d'expérience souhaitée</p>
      <div class="flexRow-spaceBet customSelect">
        <p class="noSpace">Stage</p>
        <img class="button" src="https://image.flaticon.com/icons/svg/130/130907.svg"/>
      </div>
    </div>
    <div>
      <p>Durée</p>
      <div class="flexRow-spaceBet customSelect">
        <p class="noSpace">1-2 mois</p>
        <img class="button" src="https://image.flaticon.com/icons/svg/130/130907.svg"/>
      </div>
    </div>
    <div>
      <p>Domaine</p>
      <div class="flexRow-spaceBet customSelect">
        <p class="noSpace">Audit / Conseil</p>
        <img class="button" src="https://image.flaticon.com/icons/svg/130/130907.svg"/>
      </div>
    </div>
  </div>
  <p class="noSpace textOpenMoreCriteria">Plus de critères</p>
  <img class="logoShowMoreCriteria button" src="assets/images/icon_arrowFilter.svg"/>
</div>